<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to capture daily photos.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>We save your location with each photo to remember where it was taken.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We can save photos to your photo library if you choose.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to import Live Photos you select.</string>
</dict>
</plist>
